.Container{
    float:right;
    width: 80%;
    background-color: rgb(239, 243, 231);
    height: 110vh;
    margin: 1;
}

.alert1{
    align-items: end;

}

.card{

    width: 50%;
}


.card-modification{

    background-color: aqua;
    color: blanchedalmond;
    width: 50%;

}

.btn-close{
    margin-top: 2px;
}

.Container{
    float:right;
    width: 80%;
    background-color: yellowgreen;
    height: 110vh;
    
}

.alert1{
    align-items: end;

}

.card{

    width: 50%;
}
.card-header{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: black;
}

.card-modification{

   
    color: blanchedalmond;
    width: 50%;

}
.task{
    height: auto;
}
.list-group-item {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the left */
    padding: 10px;
  }
  
  .list-group-item .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   /* Add some spacing between the top row and the mark div */
  }
  
  .bell {
    margin-right: 10px;
  }
  
  .todo {
    flex-grow: 1;
    text-align: left;
    font-size: 12px;
    width: 60%;
  }
  
  .complete,
  .inprogress,
  .date {
    margin-left: 10px;
    font-size: 12px;
    
  }
  .complete{
    color: green;
    background-color: rgb(199, 214, 225);
    border-radius: 5px;
    padding-right: 4px;
    padding-left: 4px;
  }
  .inprogress{
    color: yellow;
    background-color: rgb(199, 214, 225);
    border-radius: 5px;
    padding-right: 4px;
    padding-left: 4px;
  }
  
  .markasdone {
   
    font-size: 12px;
    color: red;
  }
  .pagination{
    color: black;
    height: 40px;
    margin-top: 0;
  }
 