.Container{
    float:right;
    width: 80%;
    background-color: yellowgreen;
    height: 110vh;
    margin: 1;
}

.alert1{
    align-items: end;

}

.card{

    width: 50%;
}


.card-modification{

    background-color: aqua;
    color: blanchedalmond;
    width: 50%;

}